# Restrict all files related to deploying to
# require lead maintainer approval.

.github/workflows/            @nateprewitt @sigmavirus24
.github/CODEOWNERS            @nateprewitt @sigmavirus24
src/requests/__version__.py   @nateprewitt @sigmavirus24
HISTORY.md                    @nateprewitt @sigmavirus24
pyproject.toml                @nateprewitt @sigmavirus24
