.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
.cache/
cover/
build/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
env/
.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
.eggs/

.workon

# in case you work with IntelliJ/PyCharm
.idea
*.iml
.python-version


t.py

t2.py
dist

/.mypy_cache/
