.coverage.installed.cfg
.metadata
.mr.developer.cfg
.project
.pydevproject
.settings
.tox
.venv-*
.workon
*.egg
*.egg-info
*.log
*.mo
*.out
*.pot
*.py[cod]
*.so
*.swp
bin
build
cover/
coverage.xml
develop-eggs
dist
docs/_build
eggs
env/
junit-report.xml
lib
lib64
MANIFEST
nosetests.xml
parts
pip-log.txt
pylint.txt
requests.egg-info/
sdist
toy.py
var
violations.pyflakes.txt
