-e .[socks]
pytest>=2.8.0,<=6.2.5
pytest-cov
pytest-httpbin==2.0.0
pytest-mock==2.0.0
httpbin==0.7.0
trustme
wheel
cryptography<40.0.0; python_version <= '3.7' and platform_python_implementation == 'PyPy'

# Flask Stack
Flask>1.0,<2.0
markupsafe<2.1
