alabaster==0.7.9
Babel==2.3.4
click==6.7
codecov==2.0.5
coverage==4.3.4
decorator==4.0.11
docutils==0.13.1
Flask==0.12
funcsigs==1.0.2
httpbin==0.5.0
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
mock==2.0.0
pbr==1.10.0
py==1.4.32
Pygments==2.1.3
PySocks==1.6.5
pytest==3.0.5
pytest-cov==2.4.0
pytest-httpbin==0.2.3
pytest-mock==1.5.0
pytz==2016.10
requests==2.12.4
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.1
Werkzeug==0.11.15
