#!/usr/bin/make -f

# Verbose mode
#export DH_VERBOSE=1

clean:
	dh_testdir
	dh_testroot

	rm -rf build requests.egg-info
#	find django-sentry/ -name *.pyc | xargs rm -f

	dh_clean

build:
	dh_testdir

	python setup.py build

install:
	dh_testdir
	dh_installdirs

	python setup.py install --root $(CURDIR)/debian/python-requests

binary-indep: install

binary-arch: install
	dh_install
	dh_installdocs
#	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb -- -Z lzma -z9

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary

