alabaster==0.7.16
    # via sphinx
babel==2.18.0
    # via sphinx
certifi==2026.2.25
    # via requests
charset-normalizer==3.4.5
    # via requests
docutils==0.20.1
    # via sphinx
idna==3.11
    # via requests
imagesize==2.0.0
    # via sphinx
jinja2==3.1.6
    # via sphinx
markupsafe==3.0.3
    # via jinja2
packaging==26.0
    # via sphinx
pygments==2.19.2
    # via sphinx
requests==2.32.5
    # via sphinx
snowballstemmer==3.0.1
    # via sphinx
sphinx==7.2.6
    # via -r /tmp/tmpt_dyfare.txt
sphinxcontrib-applehelp==2.0.0
    # via sphinx
sphinxcontrib-devhelp==2.0.0
    # via sphinx
sphinxcontrib-htmlhelp==2.1.0
    # via sphinx
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==2.0.0
    # via sphinx
sphinxcontrib-serializinghtml==2.0.0
    # via sphinx
urllib3==2.6.3
    # via requests
