name: Publish to PyPI

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      test-pypi-only:
        description: "Publish to Test PyPI only"
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  build:
    name: "Build dists"
    runs-on: "ubuntu-latest"
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
        with:
          persist-credentials: false

      - name: "Setup Python"
        uses: "actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405" # v6.2.0
        with:
          python-version: "3.x"

      - name: "Install dependencies"
        run: python -m pip install build==1.4.0

      - name: "Build dists"
        run: |
          SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct) \
          python -m build

      - name: "Upload dists"
        uses: "actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f"
        id: upload-artifact
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  publish:
    name: "Publish"
    if: startsWith(github.ref, 'refs/tags/')
    needs: ["build"]
    permissions:
      id-token: write
    runs-on: "ubuntu-latest"
    environment:
      name: "publish"

    steps:
    - name: "Download dists"
      uses: "actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131" # v7.0.0
      with:
        artifact-ids: ${{ needs.build.outputs.artifact-id }}
        path: "dist/"

    - name: "Publish dists to PyPI"
      uses: "pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e" # v1.13.0
      with:
        attestations: true

  publish-test-pypi:
    name: "Publish to Test PyPI"
    if: github.event_name == 'workflow_dispatch'
    needs: ["build"]
    permissions:
      id-token: write
    runs-on: "ubuntu-latest"
    environment:
      name: "testpypi"

    steps:
    - name: "Download dists"
      uses: "actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131" # v7.0.0
      with:
        artifact-ids: ${{ needs.build.outputs.artifact-id }}
        path: "dist/"

    - name: "Publish dists to Test PyPI"
      uses: "pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e" # v1.13.0
      with:
        repository-url: https://test.pypi.org/legacy/
        attestations: true
